<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Tekst nr {{text_name}} | AEI_project</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="particle-container">
	{% for i in range(0,40) %}
	<div class="particle"></div>
	{% endfor %}
</div>
<div class="main_container">
    <div class="navbar">
        <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
      <ul>
<li><a href="{{ url_for('default') }}">Główna</a></li>
<li><a href="{{ url_for('all_texts_info') }}">Teksty</a></li>
<li><a href="{{ url_for('roles') }}">Role</a></li>
<li><a href="{{ url_for('scales') }}">Oceny</a></li>
</ul>
</div>
    </div>
    <div class="container">
        <div class="heading_single_text">
            <h1>Text nr: {{text_name}}</h1>
        </div>
        <div class="single_text_container">
            <p>{{single_text_text}}</p>
        </div>
        <p class="accuracy_wrapper"><b>Ocena:</b> {{'%0.1f' % single_text_accuracy|float}}</p>
        <div class="semantic_container">
             <h3>Znalezione role semantyczne:</h3>
            <p><b>Sprawca:</b> {{ ', '.join(single_text_target['Sprawca']) }}</p>
            <p><b>Zdarzenie:</b> {{ ', '.join(single_text_target['Zdarzenie']) }}</p>
            <p><b>Narzędzie:</b> {{ ', '.join(single_text_target['Narzędzie']) }}</p>
            <p><b>Obiekt:</b> {{ ', '.join(single_text_target['Obiekt']) }}</p>
            <p><b>Cel:</b> {{ ', '.join(single_text_target['Cel']) }}</p>
        </div>

    </div>
</div>
<div class="hidden_roles"></div>
</body>
</html>
